<?xml version="1.0"?>
<launch>

<!-- POKRENI LIDAR
 <node pkg="urg_node" type="urg_node" name="laser"> 
 <rosparam> 
 ip_address: 192.168.0.10 
 </rosparam> 
 </node>
 --> 
 

<!-- TRANSFORMACIJA TF-A LIDAR-A -->
 <!--
 <node pkg="tf" type="static_transform_publisher" name="base_link_laser_broadcaster" args="0.08 0 0.34 0 0 0 base_footprint laser 100" />
  -->

<!-- POKRENI MAPIRANJE -->
 <arg name="scan_topic" default="/scan1" />
 <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
  <rosparam>
   odom_frame: odom
   base_frame: base_link
   map_frame: map
   map_update_interval: 0.5 # Publish new map
   maxUrange: 9.5 # Should be just less than sensor range
   maxRange: 10.5 # Should be just greater than sensor range
   particles: 100 # Increased from 80
 
   # Update frequencies
   linearUpdate: 0.1
   angularUpdate: 0.1
   temporalUpdate: 2.0
   resampleThreshold: 0.5
 
   # Initial Map Siz
   xmin: -10.0 # was -100
   ymin: -10.0 # was -100
   xmax: 10.0 # was 100
   ymax: 10.0 # was 100
   delta: 0.05
 
   # All default
   sigma: 0.05
   kernelSize: 1
   lstep: 0.05
   astep: 0.05
   iterations: 5
   lsigma: 0.075
   ogain: 3.0
   lskip: 0
   llsamplerange: 0.01
   llsamplestep: 0.01
   lasamplerange: 0.005
   lasamplestep: 0.005
  </rosparam>
  <!--<remap from="scan1" to="$(arg scan_topic)"/>-->
 </node>
 
 
<!-- POKRENI RVIZ -->
<node pkg="rviz" type="rviz" name="rviz">
</node>
</launch>
